header{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

header, footer {
    background: #39519a;
    color: rgb(255, 255, 255);
    padding: 16px;
}

#my-button{
    display: flex;
    justify-content: space-around;
    
}

#logo-header {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: rgb(168, 13, 13);
}

main {
    background-color: #a4a419;
    padding: 19px;
    color: rgb(65, 19, 19);
    font-family: 'lucida sans', verdana, sans-serif;
}

img {
    margin: 32px;
}

.rede-social {
    font-family: 'segoe ui', verdana, sans-serif;
    margin: 8px;
}