header{
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

header, footer {
    background: #58378c;
    color: white;
    padding: 16px;
}

#logo-header {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #ef7d19;
    padding: 19px;
    color: white;
    font-family: 'lucida sans', verdana, sans-serif;
}

img {
    margin: 32px;
}

.rede-social {
    font-family: 'segoe ui', verdana, sans-serif;
    margin: 8px;
}